body{
    background-color: #ffa500;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
}
    header{
        background-color: #f1c40f;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 100px;
        text-decoration: none;

}

section{
        padding-left:2rem;
}
#ebby{
    float:right;}

 header li{
    display: inline;
    padding-left: 45px;
    left: -15px;
}


 a{
    text-decoration: none;
    color: #fff;
    text-transform: bold;
}
/* .img_container{
    margin-left: 10%;
    margin-top: 10%;
}
img {
    border-radius: 25%;
    width: 20%;
    height: 5%;
    
} */
h2{
    bold
}


.container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-grow: 1;
        gap: 1rem;
}


/* .container{
    width: 80%;
/*     margin: 0 auto; */
} */

section{
    float: left;
    width: 70%;

}

aside{
    float: right;
    width: 25%;
}

footer{
    clear: both;
    background-color: #d35400;
    padding: 50px 0;
    text-align: center;

}

.card {
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
        max-width: 20%;
        /* margin: auto; */
        text-align: center;
        font-family: arial;
        padding: 40px 30px;
        border: solid;
        background-color: white;
      }
